.about-container
{
    padding: 0rem 8rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6rem;
    margin-bottom: 8rem;

    .image
    {
        width: 60rem;
        height: 35rem;
    }

    p 
    {
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 4rem;
    }

    .icon-container
    {
        margin-top: 4rem;
        display: flex;

        .icon
        {
            background-color: $color-light-gray;
            padding: 1rem;
            width: 4rem;
            height: 4rem;
            margin-right: 2rem;
        }
    }

}