// colors
$color-primary: #A318D4;
$color-primary-light: #b616f0;
$color-primary-dark: #7e16a3;
$color-dark: #090708;
$color-gray:#474640;
$color-light-gray: #EFEDEE;
$color-medium-gray: #bcbcbc;
$color-gradient: linear-gradient(to bottom right, #A318D4, #581FDE);
$color-gradient-reverse: linear-gradient(to bottom right, #581FDE, #A318D4);;

// utilities
$copy-font: 'Raleway', sans-serif;
$title-font: 'Dosis', sans-serif;
